.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  .btnClose {
    position: absolute;
    top: var(--space-l);
    right: var(--space-l);
  }

  .inner {
    max-width: 1000px;
    width: 100%;

    .cardBtn {
      width: 100%;
    }
  }
}
