.section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  .inner {
    max-width: 1000px;
    width: 100%;

    .cardBtn {
      width: 100%;
    }
  }
}
