.content {
  .imgBlock {
    margin-block: var(--space-sm);

    @media screen and (max-width: 768px) {
      height: 240px;
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: var(--rounded-xs);
    }
  }

  ul,
  ol {
    padding-left: var(--space-md);
  }
}
