.content {
  .imgBlock {
    margin-block: var(--space-sm);

    img {
      width: 100%;
      object-fit: cover;
      border-radius: var(--rounded-xs);
    }
  }

  ol,
  ul {
    padding-left: var(--space-md);
  }
}
