.imgBlock {
  display: flex;
  padding: var(--space-xs) !important;
  background-color: var(--base-white);
  border-radius: var(--rounded-xs);
  overflow: hidden;
  height: 320px;

  @media screen and (max-width: 768px) {
    height: 250px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--rounded-xs);
  }
}
